{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Let's Eat Ladkrabang</h1>
        <br/><br/>
        <div align="center">
        {% for message in messages %}
            <h6> {{message}} </h6>
        {% endfor %}
        </div>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control ml-3" id="username" 
                    name="username" value="{{username}}">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control ml-3" id="password" name="password" value="{{password}}">
                <div class="form-group"><p><p><input type="checkbox" onclick="myFunction()"> Show Password</div>
                <script> function myFunction() {
                        var x = document.getElementById("password");
                        if (x.type === "password") {
                        x.type = "text";
                        } else { x.type = "password";}} </script>
            </div>
            <button type="submit" class="btn btn-primary ml-3">Login</button>
        </form>
        <br/><br/>
    </div>
{% endblock %}