{% extends "base.html" %}
{% block content %}
    <br>
    <div class="container jumbotron">
        <h1>เพิ่มข้อมูลร้านอาหาร</h1>
        <br/>
        {% if Type.id %}
            <!-- Submit to class_update view -->
            <form method="POST" action="{% url 'managementType' %}" enctype="multipart/form-data">
        {% else %}
            <!-- Submit to class_add view -->
            <form method="POST" action="{% url 'Management' %}" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">ชื่อร้านอาหาร:</label>
                    <input type="text" class="form-control" name="restaurant_name" id="restaurant_name" value="{{restaurantnew.restaurant_name}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">เบอร์ติดต่อ:</label>
                    <input type="text" class="form-control" name="seller_phone" id="seller_phone" value="{{restaurantnew.seller_phone}}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">คำอธิบาย:</label>
                    <textarea type="text" class="form-control" name="desc" id="desc" value="{{restaurantnew.desc}}" required></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">รูปภาพ:</label>
                    <input type="file" name="picture" id="picture" value="{{restaurantnew.picture}}" accept="image/*" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">สถานะร้านค้า:</label>
                    <select name="restaurant_status" id="restaurant_status">
                            <option value="OP">open</option>
                            <option value="CL">close</option>
                    </select>
                </div>
            </div>
            {% comment %} <div class="form-row">
                <div class="form-group col-3">
                    <label for="name">ราคา:</label>
                    <input type="number" class="form-control" name="price" id="price" value="{{product.price}}" required>
                </div>
            </div> {% endcomment %}
            <button type="reset" class="btn btn-warning ml-3">Reset Form</button>
            <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}