{% extends "base.html" %}
{% block content %}
    <div class="container">        
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>ร้านอาหารแนะนำในละแวกสจล.</h2>
						<p>นี่คือร้านอาหารทั้งหมดที่เรามีแนะนำ เลือกเลย!</p>
                        <br>
                        <a class="btn btn-dark text-white" href="{% url 'Add_Restaurant' %}">เพิ่มร้านอาหาร</a>
                        <a class="btn btn-dark text-white" href="#">เพิ่มประเภท</a>
                        <a class="btn btn-dark text-white" href="#">ประเภททั้งหมด</a>
					</div>
			</div>
            <div class="jumbotron">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">ชื่อ</th>
                            <th scope="col">คำอธิบาย</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rt in resinfo %}
                        <tr>
                            <td><img src="{{ rt.picture.url }}" class="img-fluid" alt="Image"></td>
                            <td>{{ rt.restaurant_name }}</td>
                            <td>{{ rt.desc }}</td>
                            <td>
                                <a href="#">
                                    <div class="btn btn-warning" id="">แก้ไข</div>
                                </a>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="btn btn-danger" id="">ลบ</div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}